@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;  
}
.clearfix::after { 
    content: '';
    clear: both; 
    display: block;
   }
body{
    font-family: 'Maven Pro', sans-serif;
    font-size: 13px;
    margin: 0 auto;
    width: 100%;
    min-width: 1080px;
    background-color: #fefefe;
}
/*input castom*/
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
/*HEADER*/
header{
    padding:3.4vw;
    background-color:#131210;
    max-height: 1000px;
    height: 100%;
    background-image: url("../img/main_banner-soft-bg.png");
    background-size:contain;
    background-repeat: no-repeat;
}
header .main-banner img{
margin-left: 32%;
margin-top: 10%;
width: 39%;
height: 45%;
}
/*HEADER NAV*/
.sign ul{
    vertical-align: top;
    float: right;
    height: 55px;
}
.sign ul li{
    display: inline-block;
    padding-right:90px ;
    position: relative;
}
.sign ul li:first-child::before{
    position: absolute;
    top:0;
    left: -55px;
    content: " ";
    display: inline-block;
    width: 32px;
    height: 26px;
    background: url("../img/email_icon.png")no-repeat;
    padding-right: 20px;
}
.sign ul li:nth-child(2)::before{
    position: absolute;
    top:-5px;
    left: -55px;
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/phone_icon.png")no-repeat;
    padding-right: 20px;
}
.sign ul li:last-child{
    padding-right:0 ;
}
.sign ul li a{
    font-family: Montserrat;
    font-size: 18px;
    color: #fff;
}
.sign ul li button{
    width: 7rem;
    border-radius: 30px;
    font-size: 1vw;
    line-height: 2.55;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: bold;
    color: #135ec5;
}
.sign ul li button:hover{
    background-color: #135ec5;
    color:#fff;
}
.slogan{
    text-align: center;
    margin: 85px 2px 46px 40px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 4;
    color: #fff;
}
.main-banner form{
    margin-left:15%;
}
.main-banner form input{
    width: 20%;
    opacity: 0.6;
    margin-right: 6%;
    border-bottom: 1px solid #3c3c3c;
    border-top:none ;
    border-left: none;
    border-right: none;
    outline: none;
    text-transform: capitalize;
    color:#3c3c3c;
    background-color:transparent;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 2.2;
    text-align: left;
}
form button{
    width: 12%;
    height: 2.25vw;
    font-size: 0.8vw;
    border-radius: 28px;
    border:none;
    text-transform: uppercase;
    background-color:#135ec5;
    font-weight: bold;
    color:#fff;
    cursor: pointer;
}
/*main*/
.brand_choice h4{
    font-size: 18px;
    line-height: 6;
    letter-spacing: normal;
    text-align: center;
    color: #c5c5c5;
}
.brand_choice ul {
    padding-left: 4rem;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid #ebebeb;
}
.brand_choice ul li {
     display: inline-block;
     width: 13.6%;
    }
.brand_choice ul li img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    }
/**/
.pick_brand-info{
    font-size: 16px;
    margin-top: 3.1vw;
    margin-bottom: 4.5vw;
}
.car-pic_container{
    width: 48%;
    display: inline-block;
    background: url("../img/bmw_banner-soft-bg.png") no-repeat top 30% left 40%;
    background-size: cover;
}
.car-pic img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
.car-description{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding-top: 2vw;  
}
.car-description h5{
  padding-bottom:2.51vw ;
  font-size: 3vw;
  font-weight: bold;
  text-align: left;
  color: #135ec5;
}
.car-description p{
    font-size: 0.85vw;
    line-height: 3;
    text-align: left;
    color: #c1c1c1;
    max-width: 80%;
}
.car-description .wiew-all_models{
    margin-top:60px;
    width:22% ;
    height: 2.5vw ;
    border-radius: 25px;
    font-size: 0.9vw;
    border:none;
    text-transform: uppercase;
    background-color:#135ec5;
    font-weight: bold;
    color:#fff ;
}
/**/
.anonsment_add{
    height: 545px;
    background-color: #135ec5;
    color: #fff;
    font-size: 60px;
    margin-bottom: 247px;
}
.anonsment_add h3{
    text-align: center;
    padding-top: 145px;
    padding-bottom: 72px;
}
.anonsment_add::after{
    margin: 0 auto;
    margin-top: 70px;
    max-width: 100%;
    max-height: 100%;
    width: 624px;
    height: 236px;
    content: " ";
    display: block;
    background: url(../img/bmw-cross.png) no-repeat;
}
.anonsment_add button{
    width:12% ;
    height: 2.8vw;
    border-radius: 25px;
    font-size: 0.8vw;
    border:none;
    text-transform: uppercase;
    background-color:#135ec5;
    font-weight: bold;
    color:#fff ;
    border: 1px solid #fff;
    display: block;
    margin: 0 auto;
}
.anonsment_add button:hover{
    background-color: #fff;
    color:#135ec5;
}
/*cart-mini*/
.car-list{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 7vw;
}
.cart-mini{
    width: 27%; 
    display: inline-block;
    margin-top: 2.6vw;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
    -moz-box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
    box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
 }
.car_container{
    background-color: #135ec5;
    width: 100%;
    height: 195px;
    background-image: url(../img/mersedes_cart-pic-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 30%;
}
.car_container::after{
    content: " ";
    margin-left:20% ;
    margin-top:25% ;
    width: 110%;
    height: 110%;
    display: block;
    background: url(../img/mersedes_cart-pic.png) no-repeat;
}
.car-list .model-name{
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 4vw;
    text-align: center;
    color: #000;
}
.car-list .model-name + span{
    font-size: 0.8vw;
    font-weight: bold;
    line-height: 2;
    display: block;
    text-align: center;
    color: #135ec5;
}
.cart-mini .model_price{
    float: none;
    margin-left: 15%;
}
.cart-mini button{
    width:22% ;
    float: right;
    margin-top:1.25vw ;
    margin-right:20px ;
    height: 1.5vw;
    border-radius: 1vw;
    font-size: 0.8vw;
    border:none;
    text-transform: uppercase;
    background-color:#fff;
    font-weight: bold;
    margin-bottom: 2.2vw;
    color:#135ec5 ;
    cursor: pointer;
}
.cart-mini button:hover{
    background-color: #135ec5;
}
.fresh:hover{
    border: 1px solid #fff;
    background-color: #135ec5;
    color:#fff
}
.model_price  button{
    width:42% ;
    height: 2,6vw;
    border-radius: 30px;
    font-size: 0.8vw;
    border:none;
    text-transform: uppercase;
    background-color:#e2e2e2;
    font-weight: bold;
    color:#fff ;
}
.cart-mini p{
    text-align: center;
    font-size: 18px;
    line-height: 3vw;
    color: #c1c1c1;
}
 /**cart-big*/
.cart-big{
    padding-left: 3.01vw;
    font-size: 0;
    width: 58%;
    overflow: hidden;
    float: right;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
    -moz-box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
    box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
}
.big-description,.car-img{
    display: inline-block;
    width: 50%;
    height: 36vw;
    font-size: 1vmin;
}
.big-description{
    vertical-align: top;
    background-color: #fff;
}
.big-description span:first-child{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 5.14;
    letter-spacing: normal;
    text-align: left;
    color: #e2e2e2;
}
.model_price{
    margin-right: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: #16ad2c;
}
.big-description .model-name{
    margin-top: 7vw;
    font-size:1.5vw ;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: #135ec5;
}
.mod_price{float: right;}
.big-description p{
    width: 72%;
    font-size: 1vmax;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1vw;
    letter-spacing: normal;
    text-align: left;
    color: #c1c1c1;
}
.big-description button{
    margin-top:4vw ;
    width:48% ;
    height: 2.7vw;
    border-radius: 25px;
    font-size: 1vmax;
    border:none;
    text-transform: uppercase;
    background-color:#135ec5;
    font-weight: bold;
    color:#fff ;
}
.car-img{
    background-color: #135ec5;
}
.car-img button{
    width:22% ;
    height: 30px;
    border-radius: 25px;
    font-size: 16px;
    border:none;
    text-transform: uppercase;
    background-color:#fff;
    font-weight: bold;
    color:#135ec5 ;
    border: none;
    float: right;
    margin-top:53px ;
   margin-right: 15%;
}
.car-img img{
    margin-left: -22%;
    max-width: 140%;
    max-height: 140%;
    margin-top:97px ;
}
footer{
    width: 72%;
    margin: 8.4vw auto;
}
.dillers_sort,.car-parameters{
    padding-left: 2.5vw;
}
.dillers_sort input:nth-child(2)::placeholder{
    color: #000;
}
footer{
    -webkit-box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
    -moz-box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
    box-shadow: 0px 1px 8px 0px rgba(226, 226, 234, 0.84);
}
footer form{
    margin: 0 auto;
}
footer input{
    width: 19%;
    margin:1.4vw ;
    border: none;
    border-bottom:1px solid #ebebeb;
    color: #ebebeb;
    font-weight: bold;
    font-size: calc(0.9rem);
    line-height: 3.6vw;
    outline: none;
    text-transform: capitalize ;
}
footer .brand_choice ul{
    border-bottom: none;
    border-top:1px solid #ebebeb;
    margin-top: 90px;
}
footer input::placeholder{
    color:#ebebeb;
}
.advance_search{
    margin-top: 2.5vw;
}
.advance_options{
    background-color: #135ec5;
    padding:2.5vw ;
}
.advance_options input{
    width: 20%;
    background-color: #135ec5;
    border-bottom: 1px solid #4e86d4;
    line-height: 40px;
    color: #fff;
}
.advance_options input::placeholder{
    color:#4e86d4 ;
    opacity: 0.7;
}
.advanced_btn{
    min-width: 160px;
    width: 13%;
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #135ec5;
    border-radius: 20px 20px 0 0;
    line-height: 1;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}
.advance_options button{
    width:12% ;
    height: 40px;
    border-radius: 25px;
    font-size: 16px;
    border:none;
    text-transform: uppercase;
    background-color:#fff;
    font-weight: bold;
    color:#135ec5 ;
    border: none;
    margin:55px auto;
    display: block;
}
.advance_options button:hover{
    background-color: #135ec5;
    color: #fff;
    border: 1px solid #fff;
}